:root {
    --primary-color: #075959; /* Azul */
    --secundary-color: rgb(244, 252, 233); /* Verde */
    --cor-terciaria: #ABD94A; /* Vermelho */
    --cor-erro-primaria: #F20505;
    --cor-erro-secundaria:#F22E76;
    --cor-fundo: #FFFFFF; /* Cinza claro */
    --cor-texto: #0D0D0D; /* Texto escuro */
}